<div class="container">

  <h1>Edit User</h1>

  <form action="/users/<%=@user[:id]%>/edit" method="post">

  	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  	<input type="hidden" name="_method" value="patch">
  	  

    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" name="user[name]" id="Name" value="<%=@user[:name]%>">
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" class="form-control" name="user[email]" id="Email" value="<%=@user[:email] %>">
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-success" value="Update" />
    </div>
  </form>


  <div class="form-group">
    <form action = "/users/<%=@user.id%>" method = "post">
      <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
      <input type = "hidden" name = "_method" value = "delete">
      <div class="form-group">
        <input class="btn btn-link" type = "submit" value = "Delete Account">
      </div>
    </form>

  </div>
</div>