<% if @secrets %>
  <% @secrets.each do |secret| %>
    <p class="bg-danger"><%= secret.content %></p>
    <p class="bg-danger"><%= secret.likes.count %> likes</p>


    <% unless current_user.secrets_liked.include?(secret)  %>

		    <form action='/likes' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
			    <input type='submit' value='Like'>
		  	</form>

		  	<% if flash[:errors] %>
		  		<% flash[:errors].each do |error| %>
		  			<p class="bg-danger"><%= error %></p>
		  		<% end %>
		  	<% end %>

  	<% else %>

  		<% @like = secret.likes.where(user_id: session[:user_id]).first %>
  		<a href= "/likes/<%= @like.id %>" data-method='delete'>Unlike</a>
      
  	<% end %>


    <% if secret.user_id == session[:user_id] %>
    	<a href= "/secrets/<%= secret.id %>" data-method='delete'>Delete</a>
    <% end %>

  <% end %>
<% end %>

